
/* stars */
@keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
    -webkit-transform: translate3d(1000px, 0px, 0px);
	}
}
@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
    -webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-moz-keyframes move-background {    
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
    -webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

@-webkit-keyframes move-background {
  from {
    -webkit-transform: translate3d(0px, 0px, 0px);
	}
	to { 
    -webkit-transform: translate3d(1000px, 0px, 0px);
	}
}

.stars-stars {
  background: black url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/stars.png) repeat;
  position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	display: block;
  z-index: -90;
}

.twinkling-stars{
  width:10000px;
	height: 100%;
	background: transparent url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/1231630/twinkling.png") repeat;
	background-size: 1000px 1000px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -80;
  
  -moz-animation:move-background 20s linear infinite;
  -ms-animation:move-background 20s linear infinite;
  -o-animation:move-background 20s linear infinite;
  -webkit-animation:move-background 10s linear infinite;
  animation:move-background 20s linear infinite;
	
}
/* stars */


/* moving background */
.moving-background-scenary {
	height: 100%;
	max-height: 90vh;
	min-height: 90vh;
	overflow: auto;
	background-image:		
  url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
  url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
  url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
  url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
  url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		2500px,
		800px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 850s para infinite linear;
	}

@keyframes para {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}
.moving-backgrousnd-part {
	height: 100%;
	background-image:		
  url('https://res.cloudinary.com/dfrda73uc/image/upload/v1665360375/donGions%20imgs/planeswalkers%20png/pngwing.com_5_jp9rjw.png'),
  url('https://res.cloudinary.com/dfrda73uc/image/upload/v1665360374/donGions%20imgs/planeswalkers%20png/pngwing.com_6_bgrlfl.png');
	background-repeat: repeat-x;
	background-position: 
		0 20%,
		0 100%,
		0 50%,
		0 100%,
		0 0;
	background-size: 
		500px,
		500px,
		500px 200px,
		1000px,
		400px 260px;
	animation: 150s para-1 infinite linear;
	}

@keyframes para-1 {
	100% {
		background-position: 
			-5000px 20%,
			-800px 95%,
			500px 50%,
			1000px 100%,
			400px 0;
		}
	}

/* moving background */
