/* 
#cursor-neon {
  overflow: hidden;
  touch-action: pan-up;
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin: 0;
  width: 100%;
  cursor: none;
}


#cursor-neon canvas {
  display: block;
  z-index: -99;
} */

