.dongionsdetail-box{
  margin-top: 5%;
  text-align: center;
}
.dongionsdetail-box-title{
  text-align: center;
  font-size: calc(20px + 1.5vw);
  box-shadow: 0 30px 40px rgba(250,250,250,.1);
  width: 500px;
}
.dongionsdetail-box-parts{
  margin: 5%;
  text-align: left;
}

.dongionsdetail-title{
  font-size: calc(14px + 2vw);
}