.equipped-form{
  width: 140px;
  height: 60px;
  font-size: 50px;
  border-radius: 20px;
  transition: all ease-in-out 1s
}
.equipped-form:hover{
  border-radius: 2px;
  transition: all ease-in-out 1s;
}
.background-pjdetail{
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1667047063/donGions%20imgs/backgroundEffects/equippeda_ogptvp.jpg");
  width: 100%;
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
  min-height: 900px;
}
.pj-edit-fa{
  font-size: 25px;
  animation: fluido0 10s ease-in-out infinite;
  background: linear-gradient(-45deg, rgb(105, 105, 105), #ffffff, rgb(37, 37, 37),rgb(122, 121, 122), #ffffff, rgb(0, 0, 0),rgb(100, 100, 105), #ffffff, rgb(65, 63, 64));
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fluido0 {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}

.pj-edit-text {
  font-size: 25px;
  animation: fluido0 20s ease-in-out infinite;
  background: linear-gradient(-45deg, rgb(214, 206, 214), #00e5ff, rgb(104, 103, 110), #ffffff, rgb(11, 251, 199));
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.form-edit-pj{
  backdrop-filter: contrast(70%);
  border-radius: 20px;
}


.btn-submit-equip {
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
}
.btn-submit-equip:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #ed9302;
  background-image: linear-gradient(315deg, #ff9900 0%, #ed7002 74%);
  box-shadow:inset 2px 2px 2px 0px rgba(221, 89, 1, 0.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-submit-equip:hover {
  color: #000;
}
.btn-submit-equip:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-submit-equip:active {
  top: 2px;
}
.custom-btn {
  width: 200px;
  height: 60px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  margin: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}

.btn-return-equip {
  background: rgb(255,151,0);
  border: none;
  z-index: 1;
}
.btn-return-equip:after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0;
  top: 0;
  left: 0;
  z-index: -1;
  border-radius: 5px;
  background-color: #000000;
  background-image: linear-gradient(315deg, #271904 0%, #4d453e 74%);
  box-shadow:inset 2px 2px 2px 0px rgba(6, 6, 6, 0.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  transition: all 0.3s ease;
}
.btn-return-equip:hover {
  color: #000;
}
.btn-return-equip:hover:after {
  top: auto;
  bottom: 0;
  height: 100%;
}
.btn-return-equip:active {
  top: 2px;
}
.custom-btn-return {
  width: 120px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 1px 5px;
  margin: 5px;
  font-family: 'Lato', sans-serif;
  font-size: 25px;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
  7px 7px 20px 0px rgba(0,0,0,.1),
  4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}