.profile-image-css{
  border-radius: 15px;
  transition: all 0.4s ease-in-out;
  margin: 40px;
}
.profile-image-css:hover{
  border-radius: 40px;
  transition: all 0.4s ease-in-out;
  scale: 1.3;
}

#profile-size-box{
  height: auto;
  padding: 20px;
}

.stats-salud-block{
  justify-content: space-evenly;
  display: flex;
  background-color: black;
}
.stats-salud{
  border: 1px rgb(0, 238, 255) solid;
  width: 301px;
  font-size: 30px;
}
.stats-damage-block{
  justify-content: space-evenly;
  display: flex;
  background-color: black;
}
.stats-damage{
  border: 3px rgb(0, 238, 255) solid;
  width: 205px;
  font-size: 20px;
}
.stats-chars-box{
  background-color: black;
  width: 200px;
  font-size: 20px;
  position: absolute;
  margin-left: 510px;
  margin-top: 60px;
}
.stats-chars{
  border: 3px white solid;
}

.big-box-stats{
  width: 600px;
  
}
.inner-box-stats{
  border: 3px rgb(0, 238, 255) solid;
}
.button-mostrar-mejoradas{
  text-decoration: none;
  font-size: 20px;
  color: beige;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;

}
.button-mostrar-mejoradas:hover{
background-color: grey;
transition: all 0.4s ease-in-out;
color: black
}
.button-show-chars{
  color: white;
  font-size: 40px;
  opacity: 0.3;
  transition: all 0.4s ease-in-out;
}
.button-show-chars:hover{
  color: white;
  font-size: 40px;
  opacity: 1;
  transition: all 0.4s ease-in-out;
}