.habilidades-register{
  border-radius: 15px;
  width: 200px;
  transition: all .2s ease-in-out; 
}
.habilidades-register:hover{
 transform: scale(2)
}
.seccion-habilidades{
  background-color: rgba(128, 128, 128, 0.425);
  border: 4px solid black;
  border-radius: 20px;
  width: 1200px;
  height: 500px;
  font-family: 'Times New Roman', Times, serif;
  padding: 20px;
  z-index: 3;
  
}

.back-plan-image{
  background-color: rgba(128, 128, 128, 0.248);
  border: 4px solid black;
  border-radius: 20px;
  width: 1200px;
  height: 500px;
  font-family: 'Times New Roman', Times, serif;
  transition: all .2s ease-in-out; 
  z-index: -1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.back-plan-image:hover{
 transform: scale(1.3)
}
.plans-img-register{
  border-radius: 20%;
  border: 6px double white;
  width: 120px;
  height: 80px;
  transition: all .2s ease-in-out; 
}
.plans-img-register:hover{
  border-radius: 15%;
  border: 3px double rgb(255, 255, 255);
  transform: scale(1.5)
  
}
.radio-register{
  margin: -13px;
}
.input-register{
  width: 500px;
}
.form-register{
background: url(https://res.cloudinary.com/dfrda73uc/image/upload/v1665739227/donGions%20imgs/backgroundEffects/pngwing.com_74_kievyi.png);
background-size: cover;
}

.black-mirror {
  margin-top:100px;
  font-family: 'Montserrat', Arial, sans-serif;
  font-size: 50px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  text-shadow: 10 10  #b0e1ed;
  user-select: none;
  white-space: nowrap;
  filter: blur(0.007em);
  animation: shake 2s linear forwards;
}

.black-mirror span {
  position: absolute;
  transform: translate(-50%, -50%);
  -webkit-clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
          clip-path: polygon(10% 0%, 44% 0%, 70% 100%, 55% 100%);
}

.black-mirror::before,
.black-mirror::after {
  content: attr(data-text);
  position: absolute;
}

.black-mirror::before {
  animation: crack1 2s linear forwards;
  -webkit-clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
          clip-path: polygon(0% 0%, 10% 0%, 55% 100%, 0% 100%);
}

.black-mirror::after {
  animation: crack2 2s linear forwards;
  -webkit-clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
          clip-path: polygon(44% 0%, 100% 0%, 100% 100%, 70% 100%);
}

@keyframes shake {
  5%, 15%, 25%, 35%, 55%, 65%, 75%, 95% {
      filter: blur(0.018em);
      transform: translateY(0.018em) rotate(0deg);
  }

  10%, 30%, 40%, 50%, 70%, 80%, 90% {
      filter: blur(0.01em);
      transform: translateY(-0.018em) rotate(0deg);
  }

  20%, 60% {
      filter: blur(0.03em);
      transform: translate(-0.018em, 0.018em) rotate(0deg);
  }

  45%, 85% {
      filter: blur(0.03em);
      transform: translate(0.018em, -0.018em) rotate(0deg);
  }

  100% {
      filter: blur(0.007em);
      transform: translate(0) rotate(-0.5deg);
  }
}

@keyframes crack1 {
  0%, 95% {
      transform: translate(-50%, -50%);
  }

  100% {
      transform: translate(-51%, -48%);
  }
}

@keyframes crack2 {
  0%, 95% {
      transform: translate(-50%, -50%);
  }

  100% {
      transform: translate(-49%, -53%);
  }
}