
.iconBar {
  width: 90px;
  background-color: #303030;
}

.iconBar a {
  display: block;
  text-align: center;
  padding: 15px;
  transition: all 0.5s ease;
  color: white;
  font-size: 35px;
}

.iconBar a:hover {
  background-color: #006346;
}

.active {
  background-color: #008c62;
}
.gran-div{
  margin-left: 80px;
  margin-right: 80px;
}
.nombre-concepto-blanco{
display: flex;
font-size: 30px;
font-weight: bolder;
font-family: 'Times New Roman', Times, serif;
-webkit-text-stroke: 1px white;
}
.nombre-concepto-negro{
display: flex;
font-size: 30px;
font-weight: bolder;
font-family: 'Times New Roman', Times, serif;
-webkit-text-stroke: 0.3px  rgb(0, 0, 0);
}
.definicion-concepto{
color:white;
display: flex;
margin-left: 10px;
margin-top: 10px;
font-size: 20px;
-webkit-text-stroke: 0 white;
}


/* backgrounds */


.line {
  border-radius: 50%;
  height: 10px;
  width: 10px;
}
.one {
  border-radius: 50%;
  margin-top: 400px;
  position: absolute;
  height: 10px;
  width: 10px;
  animation: animation 100s linear infinite alternate;
  box-shadow: 71px 81px 5px rgb(247, 0, 255), 1821px -418px 2px #00e5ff, 1508px 391px 3px rgb(247, 0, 255), 535px 127px 5px #00e5ff, 1959px 595px 5px rgb(247, 0, 255), -260px 899px 5px #00e5ff, -244px 226px 5px rgb(247, 0, 255), 531px 227px 2px rgb(0, 245, 0), 315px 470px 2px #00e5ff, 1677px -98px 1px rgb(0, 245, 0), 355px 183px 4px rgb(0, 245, 0), 629px -85px 5px rgb(0, 245, 0), 976px 893px 2px #00e5ff, 1872px -415px 4px rgb(0, 245, 0), 1932px 298px 4px #00e5ff, 1715px 767px 4px #00e5ff, 1755px 213px 1px rgb(0, 245, 0), -118px 792px 2px #00e5ff, 1603px 605px 3px rgb(0, 245, 0), 747px -207px 1px rgb(0, 245, 0), 1710px 62px 5px rgb(0, 245, 0), 1127px 125px 1px rgb(0, 245, 0), 1317px 529px 1px rgb(0, 245, 0), 321px 989px 3px rgb(0, 245, 0), 1810px -428px 2px #00e5ff, -26px 20px 1px rgb(0, 245, 0), 1667px 464px 3px #00e5ff, -398px 585px 3px rgb(0, 245, 0), -251px 354px 4px #00e5ff, 1838px -408px 5px rgb(0, 245, 0), 768px 499px 3px rgb(0, 245, 0), 1765px 387px 5px #00e5ff, -397px 384px 2px rgb(0, 245, 0), 529px 710px 2px rgb(0, 245, 0), 683px 455px 1px rgb(0, 245, 0), 378px 909px 1px rgb(247, 0, 255), 231px 195px 1px rgb(247, 0, 255), 262px 733px 5px rgb(247, 0, 255), -50px 474px 2px rgb(247, 0, 255), -334px 248px 2px rgb(247, 0, 255), 1588px 649px 2px #00e5ff, 1243px -163px 5px rgb(247, 0, 255), 1681px 6px 2px #00e5ff, -178px -315px 4px rgb(247, 0, 255), 1102px -422px 3px rgb(247, 0, 255), 247px 53px 1px rgb(247, 0, 255), 16px 239px 2px rgb(247, 0, 255), 573px 223px 1px rgb(247, 0, 255), 1891px 208px 4px #00e5ff, 248px -191px 3px rgb(247, 0, 255), 1053px 12px 3px #00e5ff;
}
.two {
  border-radius: 50%;
  margin-top: 800px;
  position: absolute;
  height: 20px;
  width: 20px;
  animation: animation 120s linear infinite alternate-reverse;
  box-shadow: 78px 78px 4px #00e5ff, -454px 431px 3px #00e5ff, 1157px 917px 5px #00e5ff, 1927px 553px 3px #00e5ff, 735px -177px 2px #00e5ff, -282px -35px 3px #00e5ff, -172px 719px 5px #00e5ff, 1458px 453px 1px #00e5ff, 1050px 489px 3px #00e5ff, 783px -466px 3px #00e5ff, -222px -113px 3px #00e5ff, -103px -324px 3px #00e5ff, 36px -137px 5px rgb(247, 0, 255), -457px 779px 4px rgb(247, 0, 255), 1917px 497px 1px rgb(247, 0, 255), 354px 760px 1px rgb(247, 0, 255), 901px 231px 4px rgb(247, 0, 255), 267px -57px 2px rgb(247, 0, 255), 1810px -313px 1px rgb(247, 0, 255), 1858px 809px 3px rgb(247, 0, 255), -221px 521px 2px rgb(247, 0, 255), 1150px -434px 5px rgb(247, 0, 255), 714px 918px 3px rgb(247, 0, 255), -323px 676px 4px rgb(247, 0, 255), 1090px -157px 5px rgb(247, 0, 255), 1400px -324px 1px rgb(247, 0, 255), 365px -43px 3px rgb(247, 0, 255), 1533px 125px 4px rgb(247, 0, 255), 195px -300px 5px rgb(247, 0, 255), 1387px -9px 1px rgb(247, 0, 255), -385px 249px 5px #00e5ff, -424px 16px 4px rgb(0, 245, 0), 1568px 531px 5px rgb(0, 245, 0), -299px 145px 1px rgb(0, 245, 0), 1340px 950px 3px rgb(0, 245, 0), 1716px 131px 4px rgb(0, 245, 0), 258px 746px 1px rgb(0, 245, 0), 1742px 712px 4px rgb(0, 245, 0), 663px 50px 4px rgb(0, 245, 0), 809px 689px 3px rgb(0, 245, 0), -457px 423px 3px rgb(0, 245, 0), 424px -366px 4px rgb(0, 245, 0), 1804px 162px 5px #00e5ff, 1110px 294px 5px #00e5ff, 1223px 318px 2px #00e5ff, 1642px 60px 5px #00e5ff, 1527px 600px 3px #00e5ff, 815px 39px 4px #00e5ff, -429px 380px 1px #00e5ff, 1471px 275px 2px #00e5ff, 1244px 620px 4px #00e5ff;
}
.three {
  border-radius: 50%;
  margin-top: 1200px;
  position: absolute;
  height: 50px;
  width: 50px;
  animation: animation 168s linear infinite alternate-reverse;
  box-shadow: 78px 78px 4px #00e5ff, 1568px 571px 5px rgb(0, 245, 0), -299px 145px 1px rgb(0, 245, 0), 1740px 950px 7px rgb(0, 245, 0), 1716px 171px 4px rgb(0, 245, 0), 258px 746px 1px rgb(247, 0, 255), 1742px 712px 4px rgb(247, 0, 255), 667px 50px 4px rgb(247, 0, 255), 809px 689px 7px rgb(247, 0, 255), -457px 427px 7px rgb(247, 0, 255), 424px -766px 4px rgb(247, 0, 255), 1804px 162px 5px rgb(247, 0, 255), 1110px 294px 5px rgb(247, 0, 255), 1227px 718px 2px rgb(247, 0, 255), 1642px 60px 5px rgb(247, 0, 255), 1527px 600px 7px rgb(247, 0, 255), 815px 79px 4px rgb(247, 0, 255), -429px 780px 1px rgb(0, 245, 0), 1471px 275px 2px rgb(0, 245, 0), 1244px 620px 4px rgb(0, 245, 0), -454px 471px 7px #00e5ff, 1157px 917px 5px #00e5ff, 1927px 557px 7px #00e5ff, 775px -177px 2px #00e5ff, -282px -75px 7px #00e5ff, -172px 719px 5px #00e5ff, 1458px 457px 1px #00e5ff, 1050px 489px 7px #00e5ff, 787px -466px 7px #00e5ff, -222px -117px 7px #00e5ff, -107px -724px 7px #00e5ff, 76px -177px 5px #00e5ff, -457px 779px 4px #00e5ff, 1917px 497px 1px #00e5ff, 754px 760px 1px #00e5ff, 901px 271px 4px rgb(0, 245, 0), 267px -57px 2px rgb(0, 245, 0), 1810px -717px 1px rgb(0, 245, 0), 1858px 809px 7px rgb(0, 245, 0), -221px 521px 2px rgb(0, 245, 0), 1150px -474px 5px rgb(0, 245, 0), 714px 918px 7px rgb(0, 245, 0), -727px 676px 4px rgb(0, 245, 0), 1090px -157px 5px rgb(0, 245, 0), 1400px -724px 1px rgb(0, 245, 0), 765px -47px 7px rgb(0, 245, 0), 1577px 125px 4px rgb(0, 245, 0), 195px -700px 5px rgb(0, 245, 0), 1787px -9px 1px rgb(0, 245, 0), -785px 249px 5px rgb(0, 245, 0), -424px 16px 4px rgb(0, 245, 0);
}

@keyframes animation {
  0% {
    opacity: 0.7;
    transform: translate(0px, 0px);
 }
  25% {
    opacity: 0.1;
 }
  50% {
    opacity: 0.2;
    transform: scale(1.5);
 }
  100% {
    opacity: 0.3;
    transform: scale(0.7) translate(150px, 200px);
 }
}



/* degradado */
.texto-salud {
  animation: fluido 3s ease-in-out infinite;
  background: linear-gradient(-45deg, rgb(247, 0, 255), #00e5ff, rgb(0, 245, 0));
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}
.texto-resaltado-degradado {
  animation: fluido 4s ease-in-out infinite;
  background: linear-gradient(-45deg, #f3eb08, rgb(255, 255, 255));
  background-size: 300%;
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 20px;
}

@keyframes fluido {
    0% { background-position: 0 50% }
    50% { background-position: 100% 50% }
    100% { background-position: 0 50% }
}
/* degradado */

.background-rule-info{
    padding: 5px;
    background-size: 50px 40px;
    background-image: linear-gradient(to right,#6a6060c0 1px,transparent 1px), linear-gradient(to bottom,#b2a8a856 1px,transparent 1px);
    border: 2px inset rgb(255, 255, 255)
}
.background-list-actions{
  background-color: rgba(255, 174, 0, 0.208);
  margin-left: 100px;
  margin-right: 100px;
  list-style:none;
}
ul li span{
  text-shadow: 1px 1px rgb(116, 116, 116);
}


/* backgrounds */