.img-shop-info-creature{
  display: flex;
  position: absolute;
  right: -100px;
  top: 0px;
  width: 90px;
  content:url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666271499/donGions%20imgs/shop%20dude/Ex19_cdlfnd_nr1otj.png");
}
.img-shop-info-creature:hover{
  display: flex;
  position: absolute;
  right: -100px;
  top: 0px;
  width: 90px;
  content:url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666271499/donGions%20imgs/shop%20dude/Ex192_ooh6ju_cos14i.png");
}

.bubble-text {
  position: relative;
  width: 620px;
  height: 110px;
  background: #32557f;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}

.bubble-text::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-left-color: #32557f;
  border-right: 0;
  margin-top: -13px;
  margin-right: -13px;
}
/*  */

/*  */
.img-shop-info-manual{
  display: flex;
  position: absolute;
  right: -100px;
  top: 0px;
  width: 90px;
  content:url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666271498/donGions%20imgs/shop%20dude/Ex14_gy2qov_jqqttt.png");
}
.img-shop-info-manual:hover{
  display: flex;
  position: absolute;
  right: -100px;
  top: 0px;
  width: 90px;
  content:url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666271498/donGions%20imgs/shop%20dude/Ex15_v1judl_voajdb.png");
}

.bubble-text-manual {
  position: relative;
  width: 620px;
  height: 110px;
  background: #32557f;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px;
}
.bubble-text-manual::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-left-color: #32557f;
  border-right: 0;
  margin-top: -13px;
  margin-right: -13px;
}





/* left */
/* left */

.bubble-notes {
  position: relative;
  position: absolute;
  margin-left: 200px;
  width: 300px;
  height: 140px;
  background: #32557f;
  border-radius: 10px;
  padding: 10px;
}
.bubble-notes::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-right-color: #32557f;
  border-left: 0;
  margin-top: -13px;
  margin-left: -13px;
}
.img-shop-info-notes{
  display: flex;
  position: absolute;
  left: -100px;
  top: 0px;
  width: 90px;
  content:url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666271498/donGions%20imgs/shop%20dude/Ex11_xlccj5_f9cj2l.png");
}
.img-shop-info-notes:hover{
  display: flex;
  position: absolute;
  left: -120px;
  top: 0px;
  width: 120px;
  content:url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666271498/donGions%20imgs/shop%20dude/Ex13_keatuu_irpgng.png");
}


/* hehehhe */
/* hehehhe */
/* hehehhe */

.bubble-register1 {
  position: relative;
  position: absolute;
  margin-left: 200px;
  width: 450px;
  height: 100px;
  background: #32557f;
  border-radius: 10px;
  padding: 10px;
}
.bubble-register1::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 13px solid transparent;
  border-right-color: #32557f;
  border-left: 0;
  margin-top: -13px;
  margin-left: -13px;
}
.img-shop-info-register1{
  display: flex;
  position: absolute;
  left: -100px;
  top: 0px;
  width: 90px;
  content:url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666271498/donGions%20imgs/shop%20dude/Ex11_xlccj5_f9cj2l.png");
}
.img-shop-info-register1:hover{
  display: flex;
  position: absolute;
  left: -120px;
  top: 0px;
  width: 120px;
  content:url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666271498/donGions%20imgs/shop%20dude/Ex13_keatuu_irpgng.png");
}