.scrolling-wrapper {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  padding-top: 40px;
}
.scrolling-wrapper .card {
  flex: 0 0 auto;
  height: 300px;
  width: 205px;
  background-color: transparent;
}
.img-card {
  border-radius: 12px;
  border: 2px solid grey;
  transition: all 0.2s ease-in-out;
}
.img-card:hover {
  transform: scale(1.5);
  border-radius: 12px;
  border: 2px solid white;
}
.double-image-cards{
  margin-right: 230px;
}
.scrolling-space {
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666130985/donGions%20imgs/shop/wood_rs0mwz.jpg");
  width: 80%;
  height: 410px;
  padding: 10px;
  overflow: hidden;
  align-content: center;
  border: 15px ridge;
  border-radius: 10px;
}
.scrolling-overflow {
  height: 300px;
  overflow: auto;
  align-content: center;
}
.title-shop {
  font-family: "Blaka", cursive;
  text-align: center;
  font-size: calc(20px + 2.5vw);
  margin-bottom: 25px;
  margin-top: 20px;
  color: rgb(255, 205, 113);
  text-shadow: 8px 5px 3px rgb(15, 67, 79);
  background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666129238/donGions%20imgs/shop/pngwing.com_-_2022-10-18T233709.140_imjlkq.png");
  background-size: 100%;
  max-width: 60%;
  min-width: 70%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 30px;
}
.shop-div{
  justify-content: center;
  display: flex;
}
.shop-board{
  position: absolute;
  display: block;
  width: 30%;
  min-width: 450px;
  height: 220px;
  z-index: -2;
  margin: auto;
}

.name-shop {
  font-family: rubik moonrocks;
  padding-top: 30px;
  font-variation-settings: "wght" 311;
  text-shadow: 2px 2px rgb(134, 83, 6);
  text-shadow: 4px 4px rgb(134, 83, 6);
  font-size: calc(30px + 0.7vw);
  /* background-image: url("https://res.cloudinary.com/dfrda73uc/image/upload/v1666115633/donGions%20imgs/backgroundEffects/pngwing.com_82_gsdfvi.png"); */
  /* background-size: contain; */
  /* background-repeat: no-repeat; */
  width: 430px;
  height: 200px;
  transition: 700ms ease;

}
.name-shop:hover {
  font-variation-settings: "wght" 582; 
  letter-spacing: 10px;
}
.pages-shop {
  font-family: rubik moonrocks;
  color: white;
  text-shadow: 2px 2px rgb(134, 83, 6);
  text-shadow: 4px 4px rgb(134, 83, 6);
  text-decoration: none;
}
.pages-shop:hover {
  font-family: rubik moonrocks;
  color: rgb(135, 127, 127);
  text-shadow: 1px 1px rgb(134, 83, 6);
  text-shadow: 2px 2px rgb(134, 83, 6);
  text-decoration: none;
}
.pages-shop-selected {
  font-family: rubik moonrocks;
  color: rgb(134, 83, 6);
  text-shadow: 1px 1px rgb(255, 231, 194);
  text-shadow: 2px 2px rgb(255, 255, 255);
  text-decoration: none;
}

.pages-shop-selected:hover {
  font-family: rubik moonrocks;
  color: rgb(135, 127, 127);
  text-shadow: 1px 1px rgb(134, 83, 6);
  text-shadow: 2px 2px rgb(134, 83, 6);
  text-decoration: none;
}
